<div class="game-container">
<img src="/assets/img/cards/plot.png" style="position: absolute;left: 5px;bottom: 5px;height: 210px" alt="">
  <div class="personal">
      <row [cards]="row1" style="bottom: 0"></row>
      <row [cards]="row2" style="bottom: 16.2%"></row>
      <row [cards]="row3" style="bottom: 32.4%"></row>
  </div>



  <div class="opponent">
      <row [cards]="row4" style="top: 0"></row>
      <row [cards]="row5" style="top: 16.2%"></row>
      <row [cards]="row6" style="top: 32.4%"></row>
  </div>
</div>
